.sideimg{
  height: 20rem;
  width: 20rem;
  /* background-color: #fff; */
  border-radius: 50%;
  margin-left: 65rem;
  margin-top: 8rem;
  /* background: linear-gradient(to right, #536976,  
 #292E49);  */
}