.Sliderr{
    margin-top: 3rem;
    height: 40%;
    width: 90%;
    margin-left: 4rem;
    border: 2px solid darkslategray;
    box-shadow: 1px 1px 25px 5px darkslategray;


}
.under{
    height: 50%;
    width: 50%;
    border-radius: 6px;
}
.copyy{
        margin-top:2rem;
        text-align: center;
        color:floralwhite;
}